<article id="main">
				<header class="special container">
					<h2>About Us</h2>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<header>
										<h3>Bringing Portland businesses web design and Entrepreneurial mentoring.</h3>
									</header>
									<p>DeanDowd.com is the portfolio site of Dean Dowd, web designer and small business mentor in Portland. My goal is to provide quality web design and my experience as a tool to help local businesses grow. Read more about my experience below.</p>
									<p>I am a journey-man of sorts who has achieved a lot in my career. After working in a number of positions including Chief Technical Officer, Product director, Web Designer and Director of Search I felt myself unfulfilled with what the positions offered. Though in each instance I provided lots of value, I never felt like what I was doing was making a dent in the world. What I truly want to do is to get to know people and their businesses in a way that is both personable but also makes the connection for me between these people and how they make their own dents in the world. </p>
									<p>The people I most want to help are Portland businesses that that don’t necessarily have the skills to create their online presence and don’t know where to start. I find that these people are often looking for friendly advice or expert know-how on getting started. Another caveat of this niche is the fact that I feel my experience can bring the most impact to them. I honestly want to help.</p>
									<p>If you feel that you and your business fits the profile then let’s meet and see what we can come up with! You can contact me here or on twitter @deand. No matter what your question or request might be, I’d be glad to help.</p>
									<p>Design has always been a part of my life. In college I studied Graphic Design and my first job was designing web pages for doctors and lawyers. I find that I’m always visuallizing wh</p>
									<p>I read extensively and can chalk a lot of lessons learned over the years up to seeking further knowledge. If I’m not learning I feel too stagnant and always need to be growing. Topics that I like to read about include entrepreneurship, memoirs of successful people and businesses, studies of creativity and productivity, and instructional treatises on Startup businesses. For a further glimpse of what I have read and am reading you can view my GoodReads profile. Books that have most resonated with me include:</p>
										<ul>
											<li>Delivering Happiness by Tony Hsieh</li>
											<li>Let My People Go Surfing by Yvon Chouinard</li>
											<li>Born to Run by Christopher McDougall</li>
											<li>Musashi by Eiji Yoshikawa</li>
										</ul>
								</section>
							</div>

					</section>
					
			</article>