<article id="main">
				<header class="special container">
					<h2>Contact Me</h2>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<p>Contact me and get a swift reply.</p>

										<%= form_tag do %>
										  <%= label_tag(:message, "What are you doing?") %><br />  
										  <%= text_area_tag(:message, nil, :size => "44x6") %><br />  
										  <%= submit_tag("Submit") %>
										<% end %>

								</section>
							</div>

					</section>
					
			</article>


