<article id="main">
				<header class="special container">
					<span class="icon fa-mobile"></span>
					<h2>FADBUS</h2>
					<p>Making Font Awesome More Awesome</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<a href="#" class="image featured"><img src="http://lorempixel.com/output/abstract-q-c-860-400-4.jpg" alt="" /></a>
									<header>
										<h3><a href="http://fadbus.github.io">Fadbus.github.io</a></h3>
									</header>
									<p>I have a good friend that had a problem, finding the right Font Awesome icon to use for a web project is a less than efficient process. First you have to visit the Font Awesome icon page, then you have to sort through hundreds of icons to find the right one. Together with <a href="http://twitter.com/dereknutile">Derek Nutile</a> we created FADBUS (FontAwesome Database). The FADBUS web application was built on Ruby using the Bootstrap framework and Jekyll generator and is forkable on GitHub.</p>
									<p><strong>Work Completed</strong>: Application Design, Logo Design</p>
									<p><a href="http://fadbus.github.io">View FADBUS</a></p>
								</section>
							</div>

					</section>
					
			</article>

