<article id="main">
				<header class="special container">
					<span class="icon fa-mobile"></span>
					<h1>DeanDowd.com</h1>
					<p>Helping the local community succeed</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<!-- Content -->
							<div class="content">
								<section>
									<a href="#" class="image featured"><img src="http://lorempixel.com/output/abstract-q-c-856-480-8.jpg" alt="" /></a>
									<header>
										<h3>DeanDowd.com</h3>
									</header>
									<p>This is kind of an accident to tell you the truth. I was let go by an employer because I was too innovative and didn’t have a plan in place for the future. While going through seeking employment channels a familiar thread kept presenting itself. My knowledge is vast in terms of helping people and growing businesses. In the online world I am a “Jack of all trades.” I have extensive experience and success in web design, teaching and marketing. The obvious solution to the next career move was to start DeanDowd.com and bring my knowledge together as a service to help the wonderful people of Portland grow their business.</p>
									<p>DeanDowd.com is in it’s current state a short-term solution to get the business going. Sometimes when starting out you need a quick, cost-effective solution to get your business started. To fulfill this purpose DeanDowd.com was built using an html5up template, Ruby on Rails and the skel.js framework for layout and rendering. A customized design will be forthcoming.</p>
								</section>
							</div>

					</section>
					
			</article>
