		<!-- CTA -->
			<section id="cta">
			
				<header>
					<h2>Ready to <strong>build something</strong>?</h2>
					<p>Send a simple message and tell me about your project. It's that easy.</p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="/pages/contact" class="button special">Get started!</a></li>
					</ul>
				</footer>
			
			</section>