<!DOCTYPE html>
<html>
<head>
  <title>Dean Dowd, Portland Front-end Developer</title>
  
	<!--[if lte IE 8]><script src="/assets/ie/html5shiv.js"></script><![endif]-->
	<script src="/assets/jquery.min.js"></script>
	<script src="/assets/jquery.dropotron.min.js"></script>
	<script src="/assets/jquery.scrolly.min.js"></script>
	<script src="/assets/jquery.scrollgress.min.js"></script>
	<script src="/assets/skel.min.js"></script>
	<script src="/assets/skel-panels.min.js"></script>
	<script src="/assets/init.js"></script>
	
		<link rel="stylesheet" href="/assets/skel.css" />
		<link rel="stylesheet" href="/assets/style.css" />
		<link rel="stylesheet" href="/assets/style-wide.css" />
		<link rel="stylesheet" href="/assets/style-noscript.css" />
	
	<!--[if lte IE 8]><link rel="stylesheet" href="/assets/ie/v8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="/assets/ie/v9.css" /><![endif]-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<%= csrf_meta_tags %>
</head>